---
# **Lab 1: Python Basics**
---


### **Description**
This lab is designed to provide hands-on practice with Python basics to solidify the foundation upon which we will build our machine learning and data science skills in the coming weeks.


<br>

### **Lab Structure**
**Part 1**: [Print Statements](#p1)

**Part 2**: [Variables and Data Types](#p2)

**Part 3**: [Arithmetic Operators](#p3)

**Part 4**: [Extra Practice](#p4) [optional]



<br>

### **Learning Objectives**
 By the end of this lab, we will:
* Recognize how information is outputted to the screen.
* Recognize that variables are a way to store data.
* Recognize the main data types and how to modify them with basic arithmetic operators.


<br>


### **Resources**
* [Python basics Cheat Sheet](https://docs.google.com/document/d/1P3mae56ecUhbi3zq5eCT9T7HamCGEcd3lqqdZvUZAvU/edit?usp=sharing)

<a name="p1"></a>

---
## **Part #1: Print Functions**
---

### **Problem #1.1**

Create a code cell and type: `print("Hello!")`.

In [1]:
print("Hello!")

Hello!

---
### **Problem #1.2**


Create a code cell and type: `print("Today I learned about the basics of Python programming!")`.

In [2]:
print("Today I learned about the basics of Python programming!")

Today I learned about the basics of Python programming!

---

### **Now your turn! Try Problems #1.3-1.5 on your own.**

---


### **Problem #1.3**


Print your favorite color.

In [3]:
print("Blue")

Blue

---
### **Problem #1.4**


Print a sentence that describes what state or country you are from.

In [4]:
print("I am from The United States of America, specifically New York.")

I am from The United States of America, specifically New York.

---
### **Problem #1.5**

Print the food you had for breakfast today.

In [5]:
print("I had a bagel with cream cheese")

I had a bagel with cream cheese

---
### **Problem #1.6**

The ability to choose between single quotes and double quotes is useful when trying to print either of these characters. We can use one to print the other.

In [6]:
print("My cat's name is Charlie.")

print('Charlie said "meow".')

My cat's name is Charlie.
Charlie said "meow".

---
###Back To Lab Slides
---


### **Problem #1.6**


Create a code cell and print your favorite number.

In [7]:
print("2")

2

---
### **Problem #1.7**


Create a code cell and print the sum of 33 and -11.

In [15]:
print(33 + -11)

22

---

### **Now your turn! Try Problems #1.8-1.11 on your own.**

---


### **Problem #1.8**


Print the number of months in a year.

In [10]:
print("There are 12 months in a year")

There are 12 months in a year

---
### **Problem #1.9**


Print the current year.

In [11]:
print('The year is 2025')

The year is 2025

---
### **Problem #1.10**


Print today's date in the following format: MDDYYYY.

In [12]:
print('7/07/2025')

7/07/2025

---
### **Problem #1.11**


Print the sum of your age plus the age of your best friend.

In [16]:
print(16 + 17)

33

---
###Back To Lab Slides
---

<a name="p2"></a>

---
## **Part #2: Variables & Data Types**
---

### **Problem #2.1**


Create a variable called `my_name` and assign it to your first name. Print this variable.

In [23]:
my_Name = "Michael"
print(my_Name)

Michael

---
### **Problem #2.2**

Create and name a variable with your favorite number as an integer. Print that variable.

In [26]:
two = "2"
print(two)

2

---
### **Problem #2.3**

Create and name a variable with your favorite number as a float. Print that variable.

In [25]:
favorite_Numberfloat = "2.0"
print(favorite_Numberfloat)

2.0

---

### **Now your turn! Try Problems #2.4-2.6 on your own.**

---


### **Problem #2.4**



Look through the given declarations. Which ones are incorrect?

```
Var1 = 7
VAR5 = 8
2var = 92
first_last_name = "james gooding"
Hello! = 0.283
variable24 = "my favorite food is"
str = "string"
```

2var is incorrect since it cannot start with a number. Hello! is incorrect because "!" is not allowed in variable names.

---
### **Problem #2.5**


Create and a name a variable that stores a list of 3 fruits. Print that variable.

In [67]:
fruits = ["Apples, Bananas, Pineapples"]
print(fruits)

['Apples, Bananas, Pineapples']

---
### **Problem #2.6**

Create two variables to represent your height, one variable for feet, one for inches. Name your variables appropriately.

In [34]:
height_Feet = "5"
height_Inches = "4"

---
###Back To Lab Slides
---

<a name="p3"></a>

---
## **Part 3: Arithmetic Operators**
---

### **Problem #3.1**


Print the sum of 3 and 2. Take note of the output.

In [28]:
print( 3 + 2)

5

---
### **Problem #3.2**


Print the sum of 7.0 and 2.0. Take note of the output.

In [29]:
print(7.0 + 2.0)

9.0

---
### **Problem #3.3**


What is 23 divided by 2? Print the answer. Take note of the output.

In [31]:
print(23//2)

11

---
### **Problem #3.4**


Print the product of 24.0 and 25.4. Take note of the output.

In [32]:
print(24.0*25.4)

609.5999999999999

---
### **Problem #3.5**


Create and name a variable `fav_number` with your favorite number as an integer. Multiply the variable by 3 and print the result.

In [33]:
fav_number = 2
print(fav_number * 3)

6

---

### **Now your turn! Try Problems #3.6-3.10 on your own.**

---


### **Problem #3.6**


You have 2 bananas and 5 apples. How many fruits do you have in total?

In [38]:
bananas = 2
apples = 5
print(bananas + apples)

7

---
### **Problem #3.7**


You got a 90 on your biology test, and then answered the extra credit question, which gave you an additional 4 points. Calculate and print your final grade.

In [35]:
original_grade = 90
bonus = 4
print(original_grade + bonus)

94

---
### **Problem #3.8**


The length and width of a rectangle are 5 and 8, respectively. Calculate the area of a rectangle using these variables and print the result.

In [36]:
length = 5
width = 8
print(length*width)

40

---
### **Problem #3.9**


Create three variables `num1`, `num2`, and `num3` and assign them the values of 5, 24, and 67, respectively. Then calculate the average of these three numbers.

In [41]:
num1 = 5
num2 = 24
num3 = 67
print((5+24+67)/3)

32.0

---
### **Problem #3.10**


Create a variable named `temperature` and assign a value of 25. Convert the temperature from Celsius to Fahrenheit using the formula (`temperature` * 9/5) + 32 and print the result.

In [45]:
temperature = 25
print((temperature*9/5)+32)

77.0

---
###Back To Lab Slides
---

<a name="p4"></a>

---
## **Part 4: Extra Practice** [OPTIONAL]
---

### **Problem #4.1**


What's wrong with the following declaration?

A)
```
1var = 323.0
```
B)
```
month@month = "July"
```

C)
```
month year = "july2020"
```

In A, it cannot start with a number. In B, the symbol "@" is not allowed. And in C, there cannot be a space when creating a variable.

---
### **Problem #4.2**


Create a list named `nums` with values 1, 2, and 3.

In [54]:
nums = [1,2,3]

---
### **Problem #4.3**


Divide 13 by 7. Make sure the answer has decimals.

In [55]:
print(13/7)

1.8571428571428572

---
### **Problem #4.4**


Starting with the code below, reassign the variable, `candybar`, to "Milkyway." Check to make sure it worked.

In [57]:
candybar = "Snickers"
candybar = "Milkyway"

---
### **Problem #4.5**


Using the code below, what will print when you `print(bananas)`? Why?

```
bananas = 4
apples = 3
oranges = banana
bananas = 8
print(bananas)
```

It will print the number 8, because bananas is listed as a variable with 8 in the memory.

---
### **Problem #4.6**


Name a variable `name` and assign it your name. Then change the value to your instructor's name.

In [61]:
name = "MichaelBriglall"
name = "JonathanTran"

---
### **Problem #4.7**


Create a list named 'grocery_list' and add 5 items. Print the list.

In [71]:
grocery_list = ["Eggs, Bacon, Bread, Cereal, Snacks"]
print(grocery_list)

['Eggs, Bacon, Bread, Cereal, Snacks']

---
### **Problem #4.8**


What are the following data types?

```
4323

"word"

[4.0, 25.4, 192.0]

["apples", "bananas", "oranges"]

-1.231
```

Integer, string, list of floats, list of strings, float.

---
### **Problem #4.9**


Create a list called `capitals` and list 5 U.S. State capitals.

Print the list.

In [72]:
capitals = ["Albany, Phoenix, Sacramento, Denver, Hartford"]
print(capitals)

['Albany, Phoenix, Sacramento, Denver, Hartford']

---
### **Problem #4.10**


Your plant grew 5.3 inches in 10 days. Create a variable `height` and assign it to value 5.3. Create a variable `days` and assign it to value 10. Assuming your plant grew the same amount everyday, how much did it grow each day?

In [73]:
height = 5.3
days = 10
height/days

0.53

---
### **Problem #4.11**


Jake has 5 bags of coins. Each bag has 18 coins in it. How many coins in total does Jake have? Create variables `bags` and `coins` and print their product: `total`.

In [77]:
bags = 5
coins = 18
print(5*18)
total = 90

90

---
#End of notebook

© 2025 The Coding School, All rights reserved